<!-- Menú lateral fuera del nav -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menú</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>

  <div class="offcanvas-body d-flex flex-column" style="height: 100%;">
    <!-- Menú -->
    <ul class="navbar-nav pe-3" id="sidebarMenu">
      <li class="nav-item">
        <a class="nav-link" data-page="home"><i class="bi bi-house-door-fill me-2"></i>Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="['/tareas']"><i class="bi bi-journal-check me-2"></i>Gestión de tareas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-page="permisos"><i class="bi bi-shield-lock me-2"></i>Gestión de permisos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-page="notificaciones"><i class="bi bi-bell me-2"></i>Notificaciones</a>
      </li>
    </ul>


    <!-- Botón de salir abajo -->
    <div class="logout-link mt-auto">
      <hr />
      <a href="#" class="nav-link d-flex align-items-center text-danger">
        <i class="bi bi-box-arrow-right me-2"></i>Salir
      </a>
    </div>
  </div>
</div>
