<aside class="sidenav" [class.collapsed]="isCollapsed">
  <header class="sidenav-header">
    <a href="#" class="sidenav-header-logo">
      <img src="/compuIcono.png">
    </a>

    <button class="toggler sidenav-toggler" (click)="toggleSidenav()">
      <i class="bi bi-chevron-left"
         [style.transform]="isCollapsed ? 'rotate(180deg)' : 'rotate(0deg)'"
         style="display: inline-block; transition: transform 0.3s ease;">
      </i>
    </button>
  </header>

  <nav class="sidenav-menu">
    <ul class="nav-list primary-nav">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a href="#" class="nav-link" [routerLink]="['/home']">
          <i class="bi bi-house"></i>
          <span class="nav-text">Inicio</span>
        </a>
      </li>

      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a  class="nav-link" [routerLink]="['/tareas']">
          <i class="bi bi-clipboard2-data-fill"></i>
          <span class="nav-text">Gestión de tareas</span>
        </a>
      </li>

      <li class="nav-item">
        <a  class="nav-link" [routerLink]="['/permisos']">
          <i class="bi bi-bookmark-check-fill"></i>
          <span class="nav-text">Permisos</span>
        </a>
      </li>

      <li class="nav-item">
        <a  class="nav-link"  [routerLink]="['/notificacion']">
          <i class="bi bi-envelope"></i>
          <span class="nav-text">Notificaciones</span>
        </a>
      </li>

    </ul>

    <ul class="nav-list secondary-nav">
      <li class="nav-item" [routerLink]="['/perfil']">
        <a  class="nav-link">
          <i class="bi bi-person-circle"></i>
          <span class="nav-text">Cuenta</span>
        </a>
      </li>

      <li class="nav-item" routerLinkActive="active" data-bs-toggle="modal" href="#logoutModal" >
        <a class="nav-link">
          <i class="bi bi-box-arrow-right"></i>
          <span class="nav-text" >Cerrar sesión</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>


<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered logout-dialog">
    <div class="modal-content logout-modal">
      <div class="modal-header">
        <h5 class="modal-title" id="logoutModalLabel">¿Cerrar Sesión?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <p>¿Estás seguro de que deseas cerrar sesión?</p>
        <p class="subtext">Serás redirigido a la página de inicio de sesión.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="logout()" data-bs-dismiss="modal">Sí, cerrar sesión</button>
      </div>
    </div>
  </div>
</div>
