<nav class="navbar bg-body-tertiary fixed-top">
  <div class="container-fluid">

    <!-- data-bs-target: Este ID conecta con el sidenav -->

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Nombre o logo de la app -->
    <a class="navbar-brand" href="#">IntelTask</a>
  </div>
</nav>
