<div class="container mt-4" style="background: white; border-radius: 8px; max-width: 1400px; margin-right: auto; margin-left: auto; overflow-x: hidden;">


  <div class="alert alert-info rounded-4 shadow-sm p-4 text-center">
    <!-- GIF de trabajadora -->
    <h5 class="mb-3 text-primary fw-bold">Hola, te damos la bienvenida</h5>
    <p class="mb-2 fs-6">
      Actualmente esta funcionalidad no está disponible, pero el equipo de <strong>IntelTaskUCR</strong> está trabajando para que pronto puedas disfrutarla.
    </p>
    <p class="mb-0 fs-6 fw-semibold">¡Gracias por tu comprensión y paciencia!</p>

    <img src="https://media1.tenor.com/m/rec5dlPBK2cAAAAd/mr-bean-waiting.gif" alt="Desarrolladora trabajando">
  </div>

</div>
