

/* Estilo del panel de bienvenida */
.welcome-card {
  /*background-color: #d9e9f3; /* Azul de fondo */
 /* color: #6c747c;*/
  background-color:#004080;
  color: white;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.welcome-text {
  flex: 1;
  padding-right: 2rem;
}

.welcome-image {
  flex-shrink: 0;
  width: 150px; /* Ajusta el tamaño de la imagen */
  height: auto;
}

/* Estilo general para las tarjetas */
.summary-card {
  background-color: #f7f8fa; /* Color de fondo suave */
  border-radius: 15px; /* Bordes redondeados */
  padding: 20px; /* Espacio interno */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  display: flex;
  align-items: center; /* Centra los iconos verticalmente */
  justify-content: center; /* Centra los contenidos */
  text-align: center;
  position: relative;
  transition: all 0.3s ease; /* Transición para el hover */
}

/* Efecto hover para las tarjetas */
.summary-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px); /* Eleva la tarjeta al hacer hover */
}

/* Estilo para los iconos dentro de las tarjetas */
.summary-card .icon {
  font-size: 2rem; /* Tamaño más grande para los iconos */
  color: #276c9f; /* Color de los iconos */
  margin-bottom: 10px; /* Espacio entre el icono y el texto */
}

/* Estilo para el badge de "news" */
.summary-card .badge {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: #ff4f58; /* Color de fondo del badge */
  color: white;
  border-radius: 12px;
}

/* Estilos para la lista de actividades recientes */
.card-header {
  background-color: #f8f9fa;
}

.list-group-item {
  border: 0;
  padding: 1rem;
  border-radius: 0.375rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  transition: all 0.3s ease;
}

.list-group-item:hover {
  background-color: #f1f3f5;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.list-group-item img {
  object-fit: cover;
}

.text-muted {
  font-size: 0.9rem;
  color: #6c757d;
}

.text-primary {
  color: #276c9f;
}

/* Estilos para los íconos de redes sociales */
.list-group-item a {
  color: #007bff;
}

.list-group-item a:hover {
  text-decoration: underline;
}



/* Ajuste para pantallas más pequeñas */
@media screen and (max-width: 768px) {

  .summary-card {
    flex-direction: column;
    text-align: center;
  }

  .list-group-item {
    padding: 0.75rem;
  }
}

