<!-- tareas.component.html -->

<div
  class="container-fluid p-3"
  [ngClass]="{
    'sidenav-expanded': sidenavExpandido,
    'sidenav-collapsed': !sidenavExpandido
  }"
  style="background: white; border-radius: 8px; max-width: 1400px; margin-right: auto; margin-left: auto; overflow-x: hidden;">

<!-- Header -->
  <div class="d-flex align-items-center justify-content-between mb-3 border-bottom pb-2" style="border-color: #99c4ff !important;">
    <div class="d-flex align-items-center gap-2" style="color: #104c8c; font-weight: 600; font-size: 1.25rem;">
      <i class="bi bi-kanban-fill"></i>
      Gestión de tareas
    </div>
    <div class="btn-group" role="group" aria-label="Filtros tareas">
      <!-- Botón de calendario -->
      <button class="btn btn-outline-primary" title="Ver calendario" [routerLink]="['/miCalendario']">
        <i class="bi bi-calendar4-week"></i>
      </button>

      <!-- Botones de filtro -->
      <button type="button"
              class="btn btn-outline-primary"
              [ngClass]="{
            'active text-white': activeButton === 'todas',
            'text-black': activeButton !== 'todas'
          }"
              (click)="setActiveButton('todas')">
        Todas
      </button>

      <button type="button"
              class="btn btn-outline-primary"
              [ngClass]="{
            'active text-white': activeButton === 'asignadasPorMi',
            'text-black': activeButton !== 'asignadasPorMi'
          }"
              (click)="setActiveButton('asignadasPorMi'); getAllAsignadasPorMi();">
        Asignadas por mí
      </button>

      <button type="button"
              class="btn btn-outline-primary"
              [ngClass]="{
            'active text-white': activeButton === 'asignadasAMi',
            'text-black': activeButton !== 'asignadasAMi'
          }"
              (click)="setActiveButton('asignadasAMi'); getAllAsignadasAMi();">
        Asignadas a mí
      </button>
    </div>
  </div>

  <!-- Segunda fila: búsqueda, icono y botón crear -->
  <div class="d-flex align-items-center justify-content-between mb-4">

    <div class="d-flex flex-wrap gap-2 align-items-center mb-3" style="max-width: 100%;">
      <div class="input-group" style="width: 220px;">
        <label class="input-group-text bg-white border border-primary" for="filtroEstado" style="color: #104c8c;">
          <i class="bi bi-filter-circle"></i>
        </label>

        <select class="form-select border border-primary" id="filtroEstado"
        [(ngModel)]="filtroEstado" (ngModelChange)="getTareasByEstado(filtroEstado)" >
          <option value="">Todos los estados</option>
          <option *ngFor="let estado of estados" [value]="estado.estado">{{ estado.estado }}</option>
        </select>
      </div>

    </div>

    <div>

      <button
        class="btn btn-outline-primary me-3"
        style="background-color: #104c8c; border-color: #104c8c; color: white;"
        (click)="toggleSeleccion()">
        {{ seleccionHabilitada ? 'Cancelar selección' : 'Seleccionar' }}
      </button>

      <button
        class="btn btn-outline-primary me-3"
        title="Rompecabezas"
        style="background-color: #104c8c; border-color: #104c8c; color: white;"
        [routerLink]="tareaSeleccionadaId ? ['/nuevaTarea', tareaSeleccionadaId] : null"
        [disabled]="!tareaSeleccionadaId">
        <i class="bi bi-puzzle-fill"></i> Crear subtarea
      </button>



      <button class="btn btn-primary" [routerLink]="['/nuevaTarea']"  style="background-color: #104c8c; border-color: #104c8c;">
        Crear tarea
      </button>
    </div>
  </div>

  <div class="tablaTareas">
    @if (loading) {
      <div>Cargando tareas...</div>
    }
    @else if (error) {
      <div>{{ error }}</div>
    }
    @else {
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th *ngIf="seleccionHabilitada" style="width: 5%;">
              <i class="bi bi-check2-circle"></i>
            </th>
            <th style="width: 10%;">ID</th>
            <th class="col-titulo" style="width: 15%;">Título</th>
            <th style="width: 15%;">Asignado a</th>
            <th style="width: 10%;">Estado</th>
            <th style="width: 10%;">Prioridad</th>
            <th style="width: 12%;">Complejidad</th>
            <th style="width: 15%;">Número GIS</th>
            <th style="width: 15%;">Opciones</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of tareasFiltradas">
            <td *ngIf="seleccionHabilitada"  class="text-center col-seleccion" >
              <input
                type="radio"
                name="seleccionTarea"
                [value]="item.id"
                [checked]="tareaSeleccionadaId === item.id"
                (click)="intentarSeleccionarTarea(item)"
              />

            </td>
            <td>{{ item.id }}</td>
            <td class="col-titulo">{{ item.titulo }}</td>
            <td>{{ item.usuarioAsignado }}</td>
            <td>{{ item.estado }}</td>
            <td>{{ item.nombrePrioridad }}</td>
            <td>{{ item.complejidad }}</td>
            <td>{{ item.numeroGIS }}</td>
            <td class="botones">
              <a
                *ngIf="puedeEditarTarea(item)"
                class="btn btn-success btn-sm custom-btn me-2"
                [routerLink]="['/editarTarea', item.id]">
                <i class="bi bi-pencil"></i>
              </a>

              <a
                class="btn btn-info btn-sm custom-btn btn-estado"
                data-bs-toggle="modal"
                data-bs-target="#cambiarEstadoModal"
                (click)="cargarTarea(item.id)"
              >
                <i class="bi bi-arrow-repeat"></i>
              </a>
              <a class="btn btn-info btn-sm custom-btn" [routerLink]="['/tareas', item.id]">
                <i class="bi bi-arrow-right-short"></i>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    }
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="cambiarEstadoModal" tabindex="-1" aria-labelledby="cambiarEstadoLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">

      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="cambiarEstadoLabel">Cambiar estado</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>

      <form [formGroup]="form" (ngSubmit)="modificarEstado()" >
        <div class="modal-body text-center">

          <!-- Select de estados -->
          <label for="estadoSelect" class="form-label fw-semibold">Nuevo estado:</label>
          <select
            id="estadoSelect"
            class="form-select"
            formControlName="estadoSeleccionado"
            (change)="onEstadoChange()"
          >
            <option value="" disabled>Seleccione un estado</option>
            <option *ngFor="let e of estados" [value]="e.id">
              {{ e.estado }}
            </option>
          </select>

          <!-- Justificación (solo si mostrarDescripcion es true) -->
          <div class="col-md-12 mt-3" *ngIf="mostrarDescripcion">
            <label for="descripcionEsperaTarea" class="form-label">Justificación:</label>
            <textarea
              id="descripcionEspera"
              rows="3"
              formControlName="descripcionEspera"
              class="form-control"
              placeholder="Justifique porque la tarea se encuentra en espera..."
              [ngClass]="{
                'is-invalid': form.get('descripcionEspera')?.invalid && form.get('descripcionEspera')?.touched
              }"
            ></textarea>
            <div
              class="invalid-feedback d-block"
              *ngIf="form.get('descripcionEspera')?.touched && form.get('descripcionEspera')?.invalid"
            >
              <small *ngIf="form.get('descripcionEspera')?.errors?.['required']">La descripción es obligatoria.</small>
              <small *ngIf="form.get('descripcionEspera')?.errors?.['minlength']">Mínimo 5 caracteres.</small>
            </div>
          </div>

        </div>

        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-success btn-sm" [disabled]="form.invalid">Guardar</button>

        </div>
      </form>

    </div>
  </div>
</div>



