<!-- tareas.component.html -->

<div
  class="container-fluid p-3"
  [ngStyle]="{
    'margin-left.px': sidenavExpandido ? 40 : 0,
    'width': sidenavExpandido ? 'calc(100% - 40px)' : '100%'
  }"
  style="background: white; border-radius: 8px; max-width: 1400px; margin-right: auto; margin-left: auto; overflow-x: hidden;">

  <!-- Header -->
  <div class="d-flex align-items-center justify-content-between mb-3 border-bottom pb-2" style="border-color: #99c4ff !important;">
    <div class="d-flex align-items-center gap-2" style="color: #104c8c; font-weight: 600; font-size: 1.25rem;">
      <i class="bi bi-kanban-fill"></i>
      Gestión de tareas
    </div>
    <div class="btn-group" role="group" aria-label="Filtros tareas">
      <button type="button" class="btn btn-outline-primary text-white active">
        Todas
      </button>
      <button type="button" class="btn btn-outline-primary text-black">
        Asignadas por mí
      </button>
      <button type="button" class="btn btn-outline-primary text-black">
        Asignadas a mí
      </button>
    </div>
  </div>

  <!-- Segunda fila: búsqueda, icono y botón crear -->
  <div class="d-flex align-items-center justify-content-between mb-4">

    <div class="input-group" style="max-width: 400px;">
      <span class="input-group-text bg-white border border-primary" style="color: #104c8c;">
        <i class="bi bi-search"></i>
      </span>
      <input type="text" class="form-control border border-primary" placeholder="Buscar tareas..."/>
    </div>

    <div>
      <button class="btn btn-outline-primary me-3" title="Rompecabezas" style="color: #104c8c;">
        <i class="bi bi-puzzle-fill"></i>
      </button>

      <button class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#crearTareaModal" style="background-color: #104c8c; border-color: #104c8c;">
        Crear tarea
      </button>
    </div>

  </div>


  <div class="tablaTareas">

    @if (loading) {
      <div>Cargando tareas...</div>
    }
    @else if (error) {
      <div>{{ error }}</div>
    }
    @else {
      <table class="table">
        <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Título</th>
          <th scope="col" >Asignado a</th>
          <th scope="col">Estado</th>
          <th scope="col">Prioridad</th>
          <th scope="col">Complejidad</th>
          <th scope="col">Fecha Límite</th>
          <th scope="col">Número GIS</th>
          <th scope="col">Ver más</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
          @for (item of tareas; track item.id) {
            <tr>
              <th scope="row">{{ item.id }}</th>
              <td>{{ item.titulo }}</td>
              <td>{{ item.usuarioAsignado }}</td>
              <td>{{ item.estado }}</td>
              <td>{{ item.prioridad }}</td>
              <td>{{ item.complejidad }}</td>
              <td>{{ item.fechaLimite }}</td>
              <td>{{ item.numeroGIS }}</td>
              <td><a href="detalle_tarea.html?id=1" class="btn btn-primary btn-sm">Ver más</a></td>
            </tr>
          }
        </tbody>
      </table>
    }
  </div>


  <!-- Modal Crear Tarea -->
  <div class="modal fade" id="crearTareaModal" tabindex="-1" aria-labelledby="crearTareaLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content shadow-lg rounded-3 border-0">
        <form [formGroup]="form" (ngSubmit)="crearTarea()">
          <div class="modal-header" style="background-color: #104c8c; color: white;">
            <h5 class="modal-title" id="crearTareaLabel">Crear Nueva Tarea</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
          </div>

          <div class="modal-body overflow-auto" style="max-height: 70vh;">
            <div class="row g-3">
              <div class="col-md-8">
                <label for="tituloTarea" class="form-label">Título de la tarea</label>
                <input type="text" class="form-control" id="tituloTarea" formControlName="tituloTarea" placeholder="Ingrese título">
              </div>

              <div class="col-md-4">
                <label for="numeroGIS" class="form-label">Número GIS</label>
                <input type="text" class="form-control" id="numeroGIS" formControlName="numeroGIS" placeholder="Ingrese número GIS">
              </div>

              <div class="col-md-4">
                <label for="prioridad" class="form-label">Prioridad</label>
                <input type="number" class="form-control" id="prioridad" formControlName="prioridad" placeholder="Ingrese prioridad">
              </div>

              <div class="col-md-4">
                <label for="complejidad" class="form-label">Complejidad</label>
                <input type="number" class="form-control" id="complejidad" formControlName="complejidad" placeholder="Ingrese complejidad">
              </div>

              <div class="col-md-4">
                <label for="estado" class="form-label">Estado</label>
                <input type="number" class="form-control" id="estado" formControlName="estado" placeholder="Ingrese estado">
              </div>

              <div class="col-md-6">
                <label for="usuarioAsignado" class="form-label">Usuario asignado</label>
                <input type="number" class="form-control" id="usuarioAsignado" formControlName="usuarioAsignado" placeholder="Ingrese usuario asignado">
              </div>

              <div class="col-md-6">
                <label for="fechaAsignacion" class="form-label">Fecha de asignación</label>
                <input type="datetime-local" class="form-control" id="fechaAsignacion" formControlName="fechaAsignacion">
              </div>

              <div class="col-md-6">
                <label for="fechaLimite" class="form-label">Fecha límite</label>
                <input type="datetime-local" class="form-control" id="fechaLimite" formControlName="fechaLimite">
              </div>

              <div class="col-md-6">
                <label for="fechaFinalizacion" class="form-label">Fecha de finalización</label>
                <input type="datetime-local" class="form-control" id="fechaFinalizacion" formControlName="fechaFinalizacion">
              </div>

              <div class="col-md-6">
                <label for="usuarioCreador" class="form-label">Usuario creador</label>
                <input type="number" class="form-control" id="usuarioCreador" formControlName="usuarioCreador" placeholder="Ingrese usuario creador">
              </div>

              <div class="col-md-6">
                <label for="tareaOrigen" class="form-label">Tarea de origen</label>
                <input type="number" class="form-control" id="tareaOrigen" formControlName="tareaOrigen" placeholder="Ingrese ID o nombre de tarea de origen">
              </div>

              <div class="col-12">
                <label for="descripcionTarea" class="form-label">Descripción de la tarea</label>
                <textarea class="form-control" id="descripcionTarea" formControlName="descripcionTarea" rows="4" placeholder="Descripción completa de la tarea..."></textarea>
              </div>

              <div class="col-12">
                <label for="descripcionEspera" class="form-label">Descripción de espera</label>
                <textarea class="form-control" id="descripcionEspera" formControlName="descripcionEspera" rows="4" placeholder="Motivo por el cual la tarea puede estar en espera..."></textarea>
              </div>
            </div>
          </div>

          <div class="modal-footer" style="background-color: #e6f0ff;">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn" style="background-color: #104c8c; color: white;" [disabled]="form.invalid">Crear tarea</button>
          </div>
        </form>
      </div>
    </div>
  </div>





</div>

