<img src="/wave-haikei.svg" class="wave" alt="Decoración Onda" />
<div class="login-page">
  <div class="left-section">
    <div class="welcome-content">
      <img src="/poder-judicial-logo.png" alt="Logo OIJ" class="logo" />
      <h1>¡Bienvenido!</h1>
      <p>
         <br />
        <span class="slogan">Tecnología y compromiso por una gestión más eficiente.</span>
      </p>
    </div>
  </div>

  <div class="right-section">
    <h2>Iniciar sesión</h2>
    <p>Ingresa tus credenciales</p>

    <form [formGroup]="form" (ngSubmit)="autenticar()">
      <div class="input-group">
        <i class="bi bi-envelope-fill"></i>
        <input type="email" formControlName="correo" placeholder="Correo electrónico" required />
      </div>

      <div class="input-group">
        <i class="bi bi-lock-fill"></i>
        <input type="password" formControlName="contrasenna" placeholder="Contraseña" required />
      </div>

      <button type="submit" class="login-btn">Entrar</button>
    </form>
  </div>
</div>
